script(type="text/template")#new-event-template
  div.overlay
  div.loader
  h2.logo= "Qettal"
  h1.subtitle= "Gerenciamento de eventos"
  div.new-event-form-container
    form.new-event-form.sz-form
      div.field-container.field-container-full
        label= "Nome"
        div.input-container
          input(type="text", name="name")  
      div.field-container.field-container-full
        label= "Descrição"
        div.input-container
          textarea(rows="3", name="description")  
      div.field-container.field-container-sm
        label= "Preço"
        div.input-container
          input(type="text", name="price")  
      div.field-container-double.field-container-full
        div.field-container.field-container-md
          label= "Data"
          div.input-container
            input(type="text", name="scheduled_date") 
        div.field-container.field-container-sm
          label= "Hora"
          div.input-container
            input(type="text", name="scheduled_hour") 
      div.form-options 
        input(type="submit" value="Salvar").btn
